export(bertinBase)
export(bertin)
export(bertinCluster)
export(statsElements)
export(statsConstructs)
export(distance)
export(reorder2d)
export(elementCor)
export(constructCor)
export(constructRmsCor)
export(constructD)
export(constructPca)
export(alignByLoadings)
export(alignByIdeal)
export(cluster)
export(normalize)
export(center)
export(ssq)
export(randomGrid)
export(randomGrids)
export(quasiDistributionDistanceSlater)
export(permuteConstructs)
export(permuteGrid)
export(saveAsTxt)
export(convertImportObjectToRepGridObject)
export(importGridstatInternal)
export(importGridstat)
export(importGridcorInternal)
export(importGridcor)
export(importGridsuiteInternal)
export(importGridsuite)
export(importScivescoInternal)
export(convertScivescoImportObjectToRepGridObject)
export(importScivesco)
export(importTxtInternal)
export(importTxt)
export(loadgrid)
export(indexBias)
export(indexVariability)
export(indexPvaff)
export(indexIntensity)
export(distanceSlater)
export(distanceHartmann)
export(distanceNormalized)
export(indexConflict1)
export(indexConflict2)
export(indexConflict3)
export(indexDilemma)
export(swapElements)
export(swapConstructs)
export(swapPoles)
export(left)
export(right)
export(up)
export(down)
export(shift)
export(clearRatings)
export(addElement)
export(addConstruct)
export(setElementAttr)
export(setConstructAttr)
export(modifyConstruct)
export(modifyElement)
export(setScale)
export(getScale)
export(showScale)
export(setMeta)
export(showMeta)
export(makeRepgrid)
export(bindConstructs)
export(doubleEntry)
export(getNoOfConstructs)
export(getNoOfElements)
export(dim.repgrid)
export(getScaleMidpoint)
export(getRatingLayer)
export(decouple)
export(getConstructNames)
export(getConstructNames2)
export(getElementNames)
export(getElementNames2)
export(calcBiplotCoords)
export(mapCoordinatesToValue)
export(mapCoordinatesToColor)
export(calcCoordsBorders)
export(doRectanglesOverlap)
export(biplotSimple)
export(prepareBiplotData)
export(biplotDraw)
export(addVarianceExplainedToBiplot2d)
export(biplot2d)
export(biplotPseudo3d)
export(biplotSlater2d)
export(biplotSlaterPseudo3d)
export(biplotEsa2d)
export(biplotEsaPseudo3d)
exportClasses(repgrid)
export(makeEmptyRepgrid)
export(rglDrawStandardAxes)
export(rglDrawStandardEllipses)
export(rglDrawConstructPoints)
export(rglDrawConstructLabels)
export(biplot3dBase2)
export(biplot3d)
export(biplotSlater3d)
export(biplotEsa3d)
export(home)
export(ring)
export(map)
export(orderBy)
export(cascade)
export(apply_pb)
export(lapply_pb)
export(sapply_pb)
export(strReverse)
export(trim_val)
export(recycle)
export(recycle2)
export(randomWords)
export(randomSentence)
export(randomSentences)
export(orderByString)
export(formatMatrix)
export(addIndexColumnToMatrix)
export(stepChart)
